@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@700&display=swap");
@import "tailwindcss";

@theme {
  /* Font Family */
  --font-sans: "Inter", sans-serif;
  --font-display: "Playfair Display", serif;

  /* Color Palette */
  --color-newsky: #9fccfa;
  --color-newblue: #0974f1;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
