@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@700&display=swap");

@theme {
  /* Font Family */
  --font-sans: "Inter", sans-serif;
  --font-display: "Playfair Display", serif;

  /* Color Palette */
  --color-base: #f7f8f0;
  --color-third: #9cd5ff;
  --color-second: #7aaace;
  --color-first: #355872;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-black font-sans;
  }
}
