@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-merriweather: "Merriweather", serif;
  --font-nunito: "Nunito", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
}

@import "tailwindcss";
